out*/
secrets/*
!secrets/*.example.yaml
.vagrant/*
appengine.log
node_modules/
.DS_Store
*.pyc
*.swp
*~
.vimrc
env/
.sass-cache
.tmp
frontend/bower_components
frontend/site/css
.idea
fantasy/backend/venv/*
frontend/node_modules/*


fantasy/frontend/package-lock.json
fantasy/backend/fantasy_baseball.db